/* For screens smaller than 600px */
@media only screen and (max-width: 1179px) {
    
    .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 990px;
        margin: 0 auto;
        overflow: hidden;
        min-height: 1701.5px;
        

    }

    .nav-bar-background {
        border: 0.5px solid #080808;
        width: 980px;
    }

    .nav-links a {
        font-size: 60px;
    }

    .nav-links.smaller a {
        font-size: 45px;
    }

    .Grid-Logo img {
        width: 90%;
    }

    .Grid-Logo {
        border: 0.5px solid #080808;
        width: 60%;
        height: 500px;
        overflow: hidden;
    }

    .Grid-Logo-text {
        border: 0.5px solid #080808;
        width: 40%;
        align-items: center;
        flex-direction: column;
        display: flex;
        row-gap: 0%;
        height: 500px;

    }

    .Grid-Logo-text h1 {
        position: absolute;
        align-items: center;
        top: 250px;
        font-size: 75px;
    }

    .Grid-Logo-text h2 {
        position: absolute;
        align-items: center;
        top: 50px;
        font-size: 35px;
    }

    .Grid-Logo-text button {
        position: absolute;
        align-items: center;
        top: 410px;
        right: 100px;
        height: 55px;
        font-size: 30px;
    }

    .gradient-grid {
        border: 0.5px solid #080808;
        width: 961px;
        height: 100px;
    }

    .gradient-grid img {
        width: 961px;
        height: 100px;

    }

    .Marquee-grid {
        border: 0.5px solid #080808;
        width: 961px;
        height: 80px;
        top: 754px;
        z-index:1;
    }

    .marquee {
        z-index: -1;
    }
    .Grid2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        position: relative;
        height: 12vh;
        width: 99.5%;
    }
    
    .Grid-Logo-small {
        display: none;
    }
 
    .About-title {
    width: 759px;
    height: 11.9vh;
    }

    .About-title h1 {
        margin: 4%;
        font-size: 110px;
    }

    .Grid-circle {
        width: 200px;
        height: 11.9vh;
    }

    .Grid3 {
        display: flex;
        display: inline;
        width: 960px;
    }

    .Grid-Photo {
        border: 0.5px solid #080808;
        width: 99.9%;
        height: 960px;
        background-color: transparent;
    }

    .Grid-Photo img {
        width: 910px;
        height: 910px;

    }

    .About-text {
        border: 0.5px solid #080808;
        width: 99.9%;
        height: 462px;
    }

    p {
        font-family: 'Cabinet Grotesk', sans-serif;
        font-weight: 300;
        font-size: 40px;
        text-align: left;
        align-items: center;
        padding: 20px;
        color: #080808;

    }

    .About-text button {
        height: 110px;
        font-size: 45px;
        position: absolute;
        padding: 0px;
        width: 250px;
        left: 405px;
    }


    .Grid-4 {
        left: 2px;
        top: 655px;
    }

    .Grid-3 {
        left: 2px;
        top: 225px;

    }

    .Grid-5 {

        left: 2px;
        top: 1085px;
    }

    .g1 img {
        padding-top: 24px;
        padding-left: 19px;
        width: 140px;
        height: 140px;
        align-items: center;
    }

    .Grid4 {
        display: none;
    }

    footer {
        width: 99.9%;
        height: 70px;
        margin-top: -1px;
    
    }
    .footer-content p {
    font-size: 2em;
    }
    
}