@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin-top: 0;
    background-color: #f8f8f8;
    color: rgba(0, 0, 0, 0.8);
}

body a:active {
    transform: scale(1.05);
}

h1 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 900;
    color: #080808;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-bar-background {
    border: 0.5px solid #9f9f9f;
    width: 1200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
}

.logo {
    font-size: 46px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: 42px;
    font-family: 'Cabinet Grotesk', sans-serif;
}

.nav-links.smaller a {
    font-size: 32px;
}

.Grid1, .Grid2, .Grid3, .Grid4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Grid-Logo {
    border: 0.5px solid #9f9f9f;
    width: 60%;
    height: 660px;
}

.Grid-Logo img {
    width: 660px;
    align-items: center;
    padding-left: 30px;
}

.Grid-Logo-text {
    border: 0.5px solid #9f9f9f;
    width: 40%;
    align-items: center;
    flex-direction: column;
    display: flex;
    row-gap: 0%;
}

.Grid-Logo-text h1 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 68px;
    text-align: center;
    color: #080808;
}

.Grid-Logo-text h2 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 200px;
    color: #080808;
}

.Grid-Logo-text  button {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 400;
    color: #f8f8f8;
    background-color: #080808;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
    transition: transform 0.02s ease-in-out;
    align-items: center;

}

.Grid-Logo-text  button:hover{
    background-color: #7f3f98;
    opacity: 50%;
    box-shadow: 5px 5px 20px -11px rgba(18, 18, 18, 0.75);
}

.Grid-Logo-text  button:active{
    background-color: #000000;
    transform: scale(1.035);
}

.Marquee-grid {
    border: 0.5px solid #9f9f9f;
    width: 100%;
    height: 80px;
    top: 754px;
}

.marquee {
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    height: 100%;
    user-select: none;
    gap: 1rem;
    position: relative;
    /* transform: rotate(-5deg) translateY(-30px) translateX(50px); */
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-width: 100%;
    animation: scroll 5s linear infinite reverse;
    z-index: -1;
    position: absolute;
}

.marquee__group span {
    font-size: 5px;
    white-space: nowrap;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 800;
    color: #080808;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-20% - 0.5rem));
    }
}

@media only screen and (min-width: 360px) {
    .marquee__group span {
        font-size: 50px;
    }
}

.gradient-grid {
    border: 0.5px solid #9f9f9f;
    width: 100%;
    height: 100px;
    top: 825px;
}

.gradient-grid img {
    width: 1200px;
    height: 100px;
    position: absolute;
}

.star {
    z-index: 1;
    padding-left: 5px;
}

.Grid2 {
    display: flex;
}

.Grid-Logo-small {
    border: 0.5px solid #9f9f9f;
    width: 20%;
    top: 936px;
}

.Grid-Logo-small img {
    width: 100%;
    height: 100%;
}

.About-title {
    border: 0.5px solid #9f9f9f;
    width: 65%;
    top: 936px;
    left: 397px
}

.About-title h1 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 68px;
    text-align: center;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    color: #080808;
}

.Grid-circle {
    border: 0.5px solid #9f9f9f;
    width: 20%;
}

.Grid-circle img{
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 100%;
    width: 95%;

}

.Grid3 {
    display: flex;
}

.Grid-Photo {
    border: 0.5px solid #9f9f9f;
    width: 662px;
    background-color: transparent;
}

.Grid-Photo img {
    width: 610px;
    height: 610px;
    padding: 10px;
    padding-top: 20px;
}

.About-text {
    border: 0.5px solid #9f9f9f;
    width: 637px;
    height: 662px;
}

p {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 300;
    font-size: 29px;
    text-align: left;
    align-items: center;
    padding: 20px;
    color: #080808;

}

.About-text button {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 400;
    position: relative;
    transform: translate(100%, -50%);
    color: #f8f8f8;
    background-color: #080808;
    width: 250px;
    height: 45px;
    border-radius: 30px;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
    transition: transform 0.02s ease-in-out;
}

.About-text button:hover{
    background-color: #7f3f98;
    opacity: 50%;
    box-shadow: 5px 5px 20px -11px rgba(18, 18, 18, 0.75);
}

.About-text button:active{
    background-color: #000000;
    transform: translate(100%, -50%) scale(1.035);
}

.Grid4 {
    display: flex;
}

.g1 {
    border: 0.5px solid #9f9f9f;
    width: 219px;
    height: 190px;
    background-color: transparent;
    Top: 1832px;
}

.g1 img {
    padding-top: 10px;
    padding-left: 25px;
    width: 170px;
    height: 170px;
}


.g2 {
    border: 0.5px solid #9f9f9f;
    width:  541px;
    height: 190px;
    background-color: transparent;

}

.g2 img {
    padding-top: 20px;
    padding-left: 25px;
    width: 170px;
    height: 170px;
}


/*.g3 {
    border: 0.5px solid #9f9f9f;
    width:  222px;
    height: 190px;
    background-color: transparent;
}
*/
.g4 {
    border: 0.5px solid #9f9f9f;
    width: 437px;
    height: 190px;
    background-color: transparent;
}

.g4 img  {
    width:  425px;
    height: 180px;
    padding: 5px;
}



footer {
    border: 0.5px solid #9f9f9f;
    width: 1200px;
    height: 50px;

}

.footer-content p {
    margin: 0px;
    padding-top: 15px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
    color: #080808;
}

.footer-content {
    align-items: center;
}

